/*Common Elements*/
body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Header*/
#header {
    text-align: right;
    background-color: white;
    padding: 25px 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
    box-shadow: 0px 3px 5px black;
}
#header a{
    padding: 8px 20px;
    margin: 5px;
    background-color: grey;
    text-decoration: ivory;
    border: 1 solid gray;
    border-radius: 5px;
    color: white;
}
#logo a{
    text-align: left;
    color: grey;
    background-color: white;
    padding: 25px 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 75px;
    box-shadow: 0px 3px 5px black;
    display: inline-block;
}
/*Main Section*/
#banner {
    padding: 0;
    margin: 9px;

}
#story {
    width: 750px;
    float: left;
    position: relative;
    display: block;
    background-color: white;
    padding: 2.7em 1.5em 4.0em 2.7em;
    margin: 4.5em 0 6.0em 3.5em;
}
#familypicture {
    text-align: right;
    
}


/*Footer*/
footer {
    background-color: grey;
    height: 25px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 1.5em 2.0em;
}
footer ul#menuFooter{
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}
footer a, footer a:visited {
    color: #fff;
    text-decoration: underline;
}
}