/*Common Elements*/
body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Header*/
#header {
    text-align: right;
    background-color: white;
    padding: 25px 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
    box-shadow: 0px 3px 5px black;
}
#header a{
    padding: 8px 20px;
    margin: 5px;
    background-color: grey;
    text-decoration: ivory;
    border: 1 solid gray;
    border-radius: 5px;
    color: white;
}
h1 {
    text-align: center;
    color: grey;
    background-color: white;
    margin-block-start: -30px;
    float: left;

}
h4 {
    text-align: center;
    color: grey;
    background-color: white;
    margin-block-start: -1px;
    float: left;

}
/*Main Section*/
#banner {
    padding: 0;
    margin: 9px;

}
#story {
    width: 750px;
    float: left;
    position: relative;
    display: block;
    background-color: white;
    padding: 2.7em 1.5em 4.0em 2.7em;
    margin: 4.5em 0 6.0em 3.5em;
}
#familypicture {
    text-align: right;
    
}
section #main {
    background-color: white;
    margin: 0 0 2.0em;
    padding: 1.5em 0 2.0em 1.5em;
    box-shadow: 1px 1px 5px #777;/* offset-x | offset-y | blur-radius | color */
}
*{
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: grey;
    color: white;
    font-size: 50px;
    padding: 12px 24px;
    border: none;
    margin-top: 100px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  .container .btn:hover {
    background-color: black;
  }




form {
    width: 600px;
    margin: auto;
    padding: 60px 50px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 3px 5px black;

}


/*Footer*/
footer {
    background-color: grey;
    height: 25px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 1.5em 2.0em;
}
footer ul#menuFooter{
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}
footer a, footer a:visited {
    color: #fff;
    text-decoration: underline;
}
